<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="//fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
		<link href="/stylesheets/flat-ui.css" rel="stylesheet">
		<link rel='shortcut icon' href="/images/icons/png/favicon.png" type='image/x-icon'>
		<link rel='icon' href="/images/icons/png/favicon.png" type='image/x-icon'>
		<link href="/stylesheets/angular-date-range-picker.css" rel="stylesheet">
		<link href="/stylesheets/angular-block-ui.min.css" rel="stylesheet">
		<link href="/stylesheets/three-quarters.css" rel="stylesheet">
		<link href="/stylesheets/custom.css" rel="stylesheet">
	</head>
	<body ng-app="sharikiApp">
		<div ng-controller="MainAppCtrl">
			<!-- Navigation -->
			<div class="hidden-xs hidden-sm container-fluid navbar-abs" role="navigation" ng-show="!showHotelList">
				<div class="row mtl">
					<div class="col-md-1">
						<a class="pull-left" href="/"><img class="img-responsive img-logo" src="images/icons/svg/logo.svg"></a>
					</div>
					<div class="col-md-offset-10 col-md-1">
						<a class="btn btn-default pull-right" href="/about">about</a>
					</div>
				</div>
			</div>

			<!-- Content -->
			<div class="container-fluid first-container" ng-show="!showHotelList">
				<div class="hidden-md hidden-lg">
					<div class="row mtl">
						<div class="col-xs-8 col-xs-offset-2">
							<a class="pull-left" href="/"><img class="img-responsive img-logo" src="images/icons/svg/logo.svg"></a>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div>
								<div block-ui="jumbotronBlock"></div>
								<div class="row mtl ng-cloak">
									<div class="col-xs-12 col-md-6">
										<button class="btn btn-block btn-info mbl" ng-click="setLocation('9B0681E3-6D9F-47E8-8E14-5389F83569DD')">Paris, France<span ng-show="cityLocationId == '9B0681E3-6D9F-47E8-8E14-5389F83569DD'">&nbsp;&nbsp;</span><span ng-show="cityLocationId == '9B0681E3-6D9F-47E8-8E14-5389F83569DD'" class="fui-check-inverted"></span></button>
									</div>
									<div class="col-xs-12 col-md-6">
										<button class="btn btn-block btn-info mbl" ng-click="setLocation('CA62CF56-3490-467B-B531-99D1956120C4')">Rome, Italy<span ng-show="cityLocationId == 'CA62CF56-3490-467B-B531-99D1956120C4'">&nbsp;&nbsp;</span><span ng-show="cityLocationId == 'CA62CF56-3490-467B-B531-99D1956120C4'" class="fui-check-inverted"></span></button>
									</div>
								</div>
								<div class="well well-sm">
									<date-range-picker ng-model="selectedRange" always-visible="true" ranged="true" past-dates="true" calendar-averages="calendarAverages" class="row calendar-row ng-cloak"></date-range-picker>
									<div class="row">
										<div class="col-xs-2 col-md-2">
											<p class="pull-right">£</p>
										</div>
										<div class="col-xs-8 col-md-8">
											<div class="progress">
									            <div class="progress-bar nephritis" style="width: 12.5%;"></div>
									            <div class="progress-bar emerald" style="width: 12.5%;"></div>
									            <div class="progress-bar sunflower" style="width: 12.5%;"></div>
									            <div class="progress-bar orange" style="width: 12.5%;"></div>
									            <div class="progress-bar carrot" style="width: 12.5%;"></div>
									            <div class="progress-bar pumpkin" style="width: 12.5%;"></div>
									            <div class="progress-bar alizarin" style="width: 12.5%;"></div>
									            <div class="progress-bar pomegranate" style="width: 12.5%;"></div>
									        </div>
		          						</div>
		          						<div class="col-xs-2 col-md-2">
											<p>£££</p>
										</div>
									</div>
								</div>
								<div class="mtl row ng-cloak">
									<div class="col-xs-12 col-md-12">
										<button ng-class="{'btn btn-block btn-default disabled': selectedRange.end === undefined, 'btn btn-block btn-info': selectedRange.end !== undefined}" ng-click="seeHotels()">see honest hotel prices</button>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container hidden-xs hidden-sm">
					<div class="row">
						<div class="col-xs-12 col-md-offset-1 col-md-10">
							<div>
								<div block-ui="jumbotronBlock"></div>
								<div class="row ng-cloak">
									<div class="col-xs-12 col-md-6">
										<button class="btn btn-block btn-info mbl" ng-click="setLocation('9B0681E3-6D9F-47E8-8E14-5389F83569DD')">Paris, France<span ng-show="cityLocationId == '9B0681E3-6D9F-47E8-8E14-5389F83569DD'">&nbsp;&nbsp;</span><span ng-show="cityLocationId == '9B0681E3-6D9F-47E8-8E14-5389F83569DD'" class="fui-check-inverted"></span></button>
									</div>
									<div class="col-xs-12 col-md-6">
										<button class="btn btn-block btn-info mbl" ng-click="setLocation('CA62CF56-3490-467B-B531-99D1956120C4')">Rome, Italy<span ng-show="cityLocationId == 'CA62CF56-3490-467B-B531-99D1956120C4'">&nbsp;&nbsp;</span><span ng-show="cityLocationId == 'CA62CF56-3490-467B-B531-99D1956120C4'" class="fui-check-inverted"></span></button>
									</div>
								</div>
								<div class="well">
									<date-range-picker ng-model="selectedRange" always-visible="true" ranged="true" past-dates="true" calendar-averages="calendarAverages" class="row calendar-row ng-cloak"></date-range-picker>
									<div class="row">
										<div class="col-xs-2 col-md-2">
											<p class="pull-right">£</p>
										</div>
										<div class="col-xs-8 col-md-8">
											<div class="progress">
									            <div class="progress-bar nephritis" style="width: 12.5%;"></div>
									            <div class="progress-bar emerald" style="width: 12.5%;"></div>
									            <div class="progress-bar sunflower" style="width: 12.5%;"></div>
									            <div class="progress-bar orange" style="width: 12.5%;"></div>
									            <div class="progress-bar carrot" style="width: 12.5%;"></div>
									            <div class="progress-bar pumpkin" style="width: 12.5%;"></div>
									            <div class="progress-bar alizarin" style="width: 12.5%;"></div>
									            <div class="progress-bar pomegranate" style="width: 12.5%;"></div>
									        </div>
		          						</div>
			          						<div class="col-xs-2 col-md-2">
												<p>£££</p>
											</div>
									</div>
								</div>
								<div class="mtl row ng-cloak">
									<div class="col-xs-12 col-md-12">
										<button ng-class="{'btn btn-block btn-default disabled': selectedRange.end === undefined, 'btn btn-block btn-info': selectedRange.end !== undefined}" ng-click="seeHotels()">see honest hotel prices</button>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid second-container ng-cloak" ng-show="showHotelList">
				<div class="row">
					<div class="col-md-7 col-xs-12">
						<div class="row filters">
							<div class="col-md-12 col-xs-12 height-inherit">
								<div class="row">
									<div class="col-md-12 col-xs-12">
										<h6>
											Hotels in <span ng-show="cityLocationId === '9B0681E3-6D9F-47E8-8E14-5389F83569DD'">Paris, France</span><span ng-show="cityLocationId === 'CA62CF56-3490-467B-B531-99D1956120C4'">Rome, Italy</span> <small>{{ selectedRange ? selectedRange.start.format('D MMM YY') : '' }} - {{ selectedRange ? selectedRange.end.format('D MMM YY') : ''}}  </small>
											<a href="" ng-click="edit()">
												<span class="glyphicon glyphicon-pencil small"></span>
											</a>
											<div ng-show="blocking" class="pull-right three-quarters"></div>
										</h6>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-xs-12">
										<p><small>Stars</small></p>
									</div>
									<div class="col-md-8 col-xs-12">
										<div ui-slider="starSliderOptions" min="0" max="5" step="1" ng-model="stars" class="ui-slider"></div>
										<span class="pull-left"><small>{{stars[0]}}</small></span>
										<span class="pull-right"><small>{{stars[1]}}</small></span>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3 col-xs-12">
										<p><small>Nightly price</small></p>
									</div>
									<div class="col-md-8 col-xs-12">
										<div ui-slider="rateSliderOptions" min="0" max="500" step="10" ng-model="rates" class="ui-slider">
										</div>
										<span class="pull-left"><small>£{{rates[0]}}</small></span>
										<span class="pull-right"><small>£{{rates[1] == 500 ? '500+' : rates[1] }}</small></span>
									</div>
								</div>
							</div>
						</div>
						<div class="row	hotel-list ptl pbl">
							<div block-ui="hotelListBlock"></div>
							<div class="col-xs-12 col-md-12">
								<div class="row">
									<div ng-show="hotels.length < 1" class="col-xs-12 col-md-12">
										<p class="text-warning">Jeez, no hotels match that criteria! Try to refine the filters.</p>
									</div>
									<div class="col-xs-12 col-md-6" ng-mouseenter="mouseOverHotelListing(hotel)" ng-mouseleave="mouseLeaveHotelListing(hotel)" ng-repeat="(hotel_id, hotel) in hotels">
										<div class="hotel-listing">
											<div class="img-container">
												<img class="img-rounded img-responsive img-aspect-ratio" ng-src="{{hotel.url}}"></img>
											</div>
											<p class="lead text-center"><strong><small class="hotel-name">{{hotel.hotel_name}}</small></strong></p>
											<p class="text-muted text-center"><small><span ng-if="hotel.stars.length > 0" ng-repeat="star in hotel.stars track by $index">&#9733;</span>&nbsp;</small></p>
											<div class="form-group">
												<a ng-disabled="hotel.loading || (hotel.loaded && !hotel.priceUpdated)" ng-href="{{hotel.bookingUrl}}" class="btn btn-block btn-primary btn-add">
													<span ng-show="!hotel.loaded || hotel.priceUpdated">Book at £{{ hotel.average | number : 0 }} per night</span>
													<span ng-show="hotel.loaded && !hotel.priceUpdated">Damn, all booked! Try other dates.</span>
													<div ng-show="hotel.loading" class="pull-right three-quarters three-quarters-white"></div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<button class="btn btn-inverse btn-block" ng-show="!selectedHotel" ng-disabled="!moreResultsAvailable" ng-click="loadMore()">Load more</button>
								<button class="btn btn-info btn-block" ng-show="selectedHotel" ng-click="unSelectHotel()">Show all hotels</button>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-xs-12 col-map">
						<button class="btn btn-primary btn-map-clear mtl" ng-click="resetMap()">reset map</button>
						<google-map center="map.center" control="map.control" options="map.options" ng-if="mapLoaded || showHotelList" draggable="true" control="map.control" zoom="map.zoom">
							<marker ng-repeat="marker in markers track by $index" coords="marker" idKey="marker.hotel_id" events="{'click': marker.onClicked}" icon="marker.icon"></marker>
							<polygon ng-repeat="region in regions track by $index" clickable="true" events="{'click': region.onClicked}" path="region.coordinates" fill="region.coloring" stroke="region.coloring" static="true" visible="!region.hide"></polygon>
						</google-map>
					</div>
				</div>
			</div>
		</div>

		<!-- Scripts -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-bindonce/0.3.1/bindonce.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
		<script src="/javascripts/moment-range.js"></script>
		<script src="/javascripts/angular-date-range-picker.js"></script>
		<script src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAb3EpsXDg-hpLWpIFJuLmWADvSTRUdTlU"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js"></script>
		<script src="/javascripts/angular-google-maps.min.js"></script>
		<script src="/javascripts/application.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-50435179-2', 'hulabuk.com');
		  ga('send', 'pageview');

		</script>
		<script src="/javascripts/slider.js"></script>
		<script src="/javascripts/angular-block-ui.min.js"></script>
		<script src="/javascripts/viewport-units-buggyfill.js"></script>
		<script src="/javascripts/controllers.js"></script>
	</body>
</html>